<?php
  $menus=D('Menu')->where('status=1 and type=1 and parent_id=0')->order('listorder desc')->select();
  $menus2=D('Menu')->where('status=1 and type=1 and level=2')->select();
  $adinfo=D('Admin')->where('status=1')->field('username,avatar,lastlogintime,lastloginip')->find();
?>
<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BaAGee|后台管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit"> 
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
  <link rel="stylesheet" href="__PUBLIC__/js/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
  <!--<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">-->
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css"/>
  <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
  <link rel="stylesheet" href="__PUBLIC__/Synataxlighter/shCore.css">
  <link rel="stylesheet" href="__PUBLIC__/Synataxlighter/shThemeRDark.css">
	<style>
		#adminimg{transition:all 0.5s;}
		#adminimg:hover{
			padding: 0 auto;
			transform:rotate(360deg);
		}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=T8YIcG4ASGG368MGdfYb7mTnjGGZ3zpA"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
  	<strong><a href="/" target="__blank">BaAGee</a></strong> <small><a href="__MODULE__/index/index.html">后台管理</a></small>
  </div>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>

      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="__MODULE__/admin/admininfo.html"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="__MODULE__/login/logout.html"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

	<div class="am-cf admin-main">
			<!-- sidebar start -->
			<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
			
				<div class="am-offcanvas-bar admin-offcanvas-bar">
					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<!-- <p><span class="am-icon-bookmark"></span> 管理员</p> -->
							<img src="/Upload/{$adinfo['avatar']}" id="adminimg" alt="头像" width="70%" style="margin:5px 15%;border-radius:50% 50% 50% 50%">
							<div style="text-align:center;">
								<span style="font-size:20px;font-weight:bold">{$adinfo['username']}</span>
								<button class="am-btn am-btn-primary"
								        data-am-popover="{theme: 'primary',content: '<p>上次登录IP：<br><span>&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $adinfo['lastloginip'];?></span><br>上次登录时间：<br><span>&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $adinfo['lastlogintime'];?></span></p>', trigger: 'hover focus'}">
								  更多登录信息
								</button>
							</div>
						</div>
					</div>
					<ul class="am-list admin-sidebar-list">
						<li><a href="__MODULE__/index/index.html"><span class="am-icon-home"></span> 首页</a></li>
            			<foreach name="menus" item="v">
						  
						  <if condition="$v['f'] neq ''">
						  <li><a href="/{$v.m}/{$v.c}/{$v.f}.html"><span class="am-icon-pencil-square-o"></span> {$v.name}</a></li>
						  <else />
						  	<li class="admin-parent">
					          <a class="am-cf" data-am-collapse="{target: '#collapse-nav<?php echo $v['menu_id'];?>'}"><span class="am-icon-file"></span> {$v['name']} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
					          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav{$v['menu_id']}">
					          	<foreach name="menus2" item="v2">
					          	<if condition="$v['menu_id'] eq $v2['parent_id']">
					            	<li><a href="/{$v2['m']}/{$v2['c']}/{$v2['f']}.html"><span class="am-icon-navicon"></span> {$v2['name']}</a></li>
					        	</if>
					        	</foreach>
					          </ul>
				        	</li>
				        	</if>
            			</foreach>
						
						<li><a href="__MODULE__/login/logout.html"><span class="am-icon-sign-out"></span> 退出</a></li>
					</ul>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-bookmark"></span> 公告</p>
							<p>时光静好，与君语；细水流年，与君同。—— BaAGee</p>
						</div>
					</div>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-tag"></span> wiki</p>
							<!-- <p>孤单恰恰是我最好的增值期</p> -->
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar end -->
		<block name="content"></block>
	</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/dialog.js"></script>
<script type="text/javascript" src="__PUBLIC__/Synataxlighter/shCore.js"></script>
<script type="text/javascript" src="__PUBLIC__/Synataxlighter/shBrushBash.js"></script>
<block name="js"></block>
</body>
</html>
