<extend name="Public/base" />
<block name="content">
	<div class="admin-content">
		<div class="admin-content-body">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">文章评论管理</strong> / <small><span class="am-icon-table"></span></small></div>
			</div>

			<hr>

			<div class="am-g">
				<div class="am-u-sm-12">
					<table class="am-table-hover am-table am-table-bordered am-table-radius">
						<thead>
						<tr class="am-primary">
							<th>ID</th><th>文章标题</th><th>昵称</th><th class="table-title">评论</th><th>评论时间</th><th class="table-set">操作</th>
						</tr>
						</thead>
						<tbody>
						<foreach name="comments" item="v">
							<tr>
								<td>{$v.id}</td>
								<td>
								<a target="_blank" href="/home/index/detail/article/{$v.article_id}.html">
									{$v.title|mb_substr=0,12,'utf-8'}...</a></td>
								<td><img src="{$v.figureurl}" alt="头像" height="30px">{$v.nickname}</td>
								<td>{$v.comment|mb_substr=0,20,'utf-8'}...</td>
								<td>{$v.time|date="Y-m-d H:i:s",###}</td>
								<td>
									<div class="am-btn-toolbar">
										<div class="am-btn-group am-btn-group-xs">
											<a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"  onclick="setStatus({$v.id})"><span class="am-icon-trash-o"></span> 删除</a>
										</div>
									</div>
								</td>
							</tr>
						</foreach>
						</tbody>
					</table>
					<div class="am-cf">
						<div class="am-fr">
								{$pageComm}
							</div>
					</div>
					<hr />
					<p>注：.....</p>
				</div>
			</div>
		</div>

		<footer class="admin-content-footer">
			<hr>
			<p class="am-padding-left">© 2016 | BaAGee丨鲁ICP备16023386号</p>
		</footer>
	</div>
	<!-- content end -->
</block>
<block name="js">
	<script>
		function setStatus(id) {
			if(confirm('真的要删除吗?')){
				$.post('__CONTROLLER__/deleteCommon', {id:id}, function(result) {
					if(result.status==0){
						dialog.error(result.message);
					}else if(result.status==1){
						dialog.success(result.message,'__CONTROLLER__/commList.html');
					}
				});
			}
		}
	</script>
</block>